
.Influencer-cards-section{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 4rem;
    width: 99vw;
}
.Influencer-cards-heading{
    font-size: 2.5rem;
    color: rgb(77, 89, 100);
    font-weight: 800;
}

.Influencer-cards-containor{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    padding: 1.5rem 1rem;
    height: 18rem;
    overflow: hidden;
}

.Influencer-cards-containor-show{
    height:40rem;
}

.Influencer-cards-outer{
    /* border: 1px solid red; */
    width: 40rem;
   height: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: space-around; */
    margin: 0.5rem;
 
}


.Influencer-cards-info{
    /* border: 1px solid rgb(255, 9, 214); */
    height: 80%;
    width: 24rem;
    border-radius: 6px;
    /* overflow: hidden; */
    margin-left: -3rem;
    background-color: white;
    padding: 0.5rem 0.8rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Influencer-cards-img{
    width: 14rem;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
}

.Influencer-cards-nav{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 0;
}



.Influencer-cards-btn{
    border: 1px solid rgb(88, 88, 88);
    font-family: "Lora", serif;
    background-color: white;
    color: rgb(88, 88, 88);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
}


 .Influencer-cards-icons{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-bottom: 0;
    
}

.Influencer-cards-icons li{
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  margin: 0px 4px;
    border-radius: 100%;
    color: rgb(99, 98, 98);
    background-color: rgb(226, 225, 225);
   
} 

.Influencer-cards-btn-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   align-items:center;
    justify-content: space-between;
    /* border: 1px solid rgb(19, 3, 77); */
    padding: 0.2rem 0rem;
}

.Influencer-cards-sec-icons{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-bottom: 0;
    padding-left: 0;
}



.Influencer-cards-sec-icons li{
    font-size: 0.7rem;
    color: rgb(117, 89, 89);
   margin: 0rem 0.2rem;
}

.Influencer-cards-title{
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    padding: 0.2rem 0rem;
}

.Influencer-cards-text{
    font-size: 0.7rem;
    margin: 0;
    padding: 0.2rem 0rem;
}

#showLessIn{
    display: none;
    /* display: ; */
}