*{
    padding: 0;
    margin: 0;
    }

.nl-section{
    /* border: 1px solid red; */
    display:flex ;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    width: 99vw;
}

.nl-heading{
    font-size: 2.5rem;
    color: rgb(77, 89, 100);
    font-weight: 800;
}

.nl-heading-text{
    width: 60%;
    font-size: 1rem;
    font-weight:400;
    color: rgb(77, 89, 100);
    text-align: center;
    font-family: "Roboto Slab", serif;
}

/* new launch cards styling*/
.nl-cards-container{
    /* border: 1px solid blue; */
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    width: 80%;
    height: 60rem;
    overflow: hidden;
}

.nl-cards-outer{
    /* border: 1px solid red; */
    height: auto;
    width: 26rem;
    background-color: rgb(241,241,241);
    display:flex ;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 4px;
    padding-bottom: 1.4rem;
    margin: 0.5rem 0.2rem;
    /* overflow: hidden; */
}
.nl-cards-img{
    width: 100%;
    height: 260px;
    /* border: 1px solid red; */
}
.nl-cards-discreption-box{
    background-color: white;
    /* border: 1px solid red; */
    height: auto;
    width: 92%;
    margin-top: -1rem;
    border-radius: 4px;
    padding: 0.2rem 1rem;
    padding-bottom: 0.8rem;
    /* overflow: hidden; */
    font-family: "Roboto Slab", serif;
}
.nl-cards-icon{
    margin-top: -1.5rem;
    margin-left: 0.5rem;
    height: 2.5rem;
    padding: 0.2rem ;
}

.nl-icone-container{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.nl-icone-list{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding-left: 0;
}

.nl-icone-list li{
    font-size: 0.7rem;
    color: rgb(117, 89, 89);
   margin: 0rem 0.2rem;
}

.nl-primary-icons{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border: 1px solid red; */
    padding-left: 0;
}
.nl-primary-icons li{
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  margin: 0px 2px;
    border-radius: 100%;
    color: rgb(99, 98, 98);
    background-color: rgb(226, 225, 225);
}
.nl-cards-title{
    font-size: 0.7rem;
    font-weight: 600;
    text-align:justify;
   word-spacing: 0px;
}
.nl-cards-text{
    font-size: 0.6rem;
    color: rgb(143, 141, 141);
    text-align: justify;
    word-spacing: -1px;
}
.nl-cards-footer{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.nl-cards-discover-btn{
border: 1px solid rgb(88, 88, 88);
background-color: white;
color: rgb(88, 88, 88);
font-size: 0.6rem;
font-weight: 600;
padding: 0.3rem 0.6rem;
}
.nl-more-btn{
    background: rgb(190,0,6);
    font-size: 0.9rem;
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    padding: 0.4rem 2.4rem;
    margin: 1rem;
}

#showLessNl{
display: none;
}
@media (min-width:260px){
    .nl-section{
        /* border: 1px solid red; */
        width: 100%;
    }
    
    .nl-heading{
        font-size: 1.5rem;
    }
    
    .nl-heading-text{
        width: 92%;
        font-size: 0.7rem;
        text-align: justify;
        /* border: 1px solid red; */
    }
    .nl-cards-container{
        /* border: 1px solid blue; */
        padding: 0.4rem 0.2rem;
        height: 57rem;
        width: 100%;
       
    }
    
    .nl-cards-outer{
        /* border: 1px solid red; */
        height: auto;
        width: 26rem;
        border-radius: 6px;
        overflow: hidden;
        /* padding-bottom: 0.5rem; */
    }
    .nl-cards-img{
        width: 100%;
        height: 200px;
        /* border: 1px solid red; */
    }

}
@media (min-width:320px){
    .nl-section{
        /* border: 1px solid red; */
        width: 100%;
    }
    
    .nl-heading{
        font-size: 1.5rem;
    }
    
    .nl-heading-text{
        width: 80%;
        font-size: 0.7rem;
        text-align: justify;
        /* border: 1px solid red; */
    }
    .nl-cards-container{
        /* border: 1px solid blue; */
        padding: 0.4rem 0.2rem;
        height: 57rem;
        width: 80%;
       
    }
    
    .nl-cards-outer{
        /* border: 1px solid red; */
        height: auto;
        width: 26rem;
        border-radius: 6px;
        overflow: hidden;
        /* padding-bottom: 0.5rem; */
    }
    .nl-cards-img{
        width: 100%;
        height: 200px;
        /* border: 1px solid red; */
    }

}
@media (min-width:450px){
    .nl-section{
        /* border: 1px solid red; */
        width: 100%;
    }
    
    .nl-heading{
        font-size: 1.8rem;
    }
    
    .nl-heading-text{
        width: 80%;
        font-size: 0.7rem;
        text-align: justify;
        /* border: 1px solid red; */
    }
    .nl-cards-container{
        /* border: 1px solid blue; */
        padding: 0.4rem 0.2rem;
        height: 57rem;
        width: 80%;
       
    }
    
    .nl-cards-outer{
        /* border: 1px solid red; */
        height: auto;
        width: 26rem;
        border-radius: 6px;
        overflow: hidden;
        /* padding-bottom: 0.5rem; */
    }
    .nl-cards-img{
        width: 100%;
        height: 200px;
        /* border: 1px solid red; */
    }

}
@media (min-width:481px){
    .nl-section{
        /* border: 1px solid red; */
        width: 100%;
    }
    
    .nl-heading{
        font-size: 1.8rem;
    }
    
    .nl-heading-text{
        width: 80%;
        font-size: 0.7rem;
        text-align: justify;
        /* border: 1px solid red; */
    }
    .nl-cards-container{
        /* border: 1px solid blue; */
        padding: 0.4rem 0.2rem;
        height: 57rem;
        width: 80%;
       
    }
    
    .nl-cards-outer{
        /* border: 1px solid red; */
        height: auto;
        width: 20rem;
        border-radius: 6px;
        overflow: hidden;
        margin: 0.2rem;
        /* padding-bottom: 0.5rem; */
    }
    .nl-cards-img{
        width: 100%;
        height: 210px;
        /* border: 1px solid red; */
    }

}

@media (min-width:769px){
    .nl-section{
        /* border: 1px solid red; */
        width: 100%;
    }
    
    .nl-heading{
        font-size: 2rem;
    }
    
    .nl-heading-text{
        width: 70%;
        font-size: 0.9rem;
        text-align: center;
        /* border: 1px solid red; */
    }
    .nl-cards-container{
        /* border: 1px solid blue; */
        padding: 0.4rem 0.2rem;
        height: 57.5rem;
        width: 80%;
       
    }
    
    .nl-cards-outer{
        /* border: 1px solid red; */
        height: auto;
        width: 18rem;
        border-radius: 6px;
        overflow: hidden;
        margin: 0.2rem;
        /* padding-bottom: 0.5rem; */
    }
    .nl-cards-img{
        width: 100%;
        height: 210px;
        /* border: 1px solid red; */
    }

}
@media (min-width:1025px){
    .nl-section{
        /* border: 1px solid red; */
        width: 100%;
    }
    
    .nl-heading{
        font-size: 2.5rem;
    }
    
    .nl-heading-text{
        width: 70%;
        font-size: 0.9rem;
        text-align: center;
        /* border: 1px solid red; */
    }
    .nl-cards-container{
        /* border: 1px solid blue; */
        padding: 0.4rem 0.2rem;
        height: 55.5rem;
        width: 80%;
       
    }
    
    .nl-cards-outer{
        /* border: 1px solid red; */
        height: auto;
        width: 24rem;
        border-radius: 6px;
        overflow: hidden;
        margin: 0.2rem;
        /* padding-bottom: 0.5rem; */
    }
    .nl-cards-img{
        width: 100%;
        height: 220px;
        /* border: 1px solid red; */
    }

}
@media (min-width:1201px){
    .nl-section{
        /* border: 1px solid red; */
        width: 100%;
    }
    
    .nl-heading{
        font-size: 2.5rem;
    }
    
    .nl-heading-text{
        width: 60%;
        font-size: 0.9rem;
        text-align: center;
        /* border: 1px solid red; */
    }
    .nl-cards-container{
        /* border: 1px solid blue; */
        padding: 0.4rem 0.2rem;
        height: 55.5rem;
        width: 80%;
       
    }
    
    .nl-cards-outer{
        /* border: 1px solid red; */
        height: auto;
        width: 24rem;
        border-radius: 6px;
        overflow: hidden;
        margin: 0.2rem;
        /* padding-bottom: 0.5rem; */
    }
    .nl-cards-img{
        width: 100%;
        height: 220px;
        /* border: 1px solid red; */
    }

}
@media (min-width:1500px){
    .nl-section{
        /* border: 1px solid red; */
        width: 100%;
    }
    
    .nl-heading{
        font-size: 2.5rem;
    }
    
    .nl-heading-text{
        width: 60%;
        font-size: 0.9rem;
        text-align: center;
        /* border: 1px solid red; */
    }
    .nl-cards-container{
        /* border: 1px solid blue; */
        padding: 0.4rem 0.2rem;
        height: 55.5rem;
        width: 80%;
       
    }
    
    .nl-cards-outer{
        /* border: 1px solid red; */
        height: auto;
        width: 24rem;
        border-radius: 6px;
        overflow: hidden;
        margin: 0.5rem;
        /* padding-bottom: 0.5rem; */
    }
    .nl-cards-img{
        width: 100%;
        height: 220px;
        /* border: 1px solid red; */
    }

}
