.contact-outer{
    border: 1px solid green;
    padding: 1rem;
}
.contact-inner{
  border: 1px solid green;
  display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center ;
justify-content: space-around;
padding: 1rem 0rem; 
}
.contact-inner-prime{
  border: 1px solid green;
  display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center ;
justify-content: space-around;
}
  form {
    width: 22rem;
    border: 1px solid green;
    display:flex;
    flex-direction: column;
  }

  form label{

  }