

footer{
    width: 99vw;
    /* border: 1px solid red; */
    background-color: rgb(23,23,23);
    color: white;
    font-family: "Lora", serif;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 1.5rem 1rem;
    align-items: start;
    justify-content: space-around;
}

.footer-boxOne{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-around;
}
.footer-boxOne h4 {
   font-size: 0.9rem;
   color: rgb(255, 255, 255);
   /* font-family:Lora,ital; */
 
}
.footer-form{
    /* width: 6rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    border: 1px solid rgb(73,80,87);
    background-color: rgb(73,80,87);
    border-radius:25px;
    padding: 0.2rem 0.8rem;
}

.footer-form input{
    width: 16rem;
    background-color: rgb(73,80,87);
    border: none;
    outline: none;
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
    color: white;
    /* border: 1px solid red; */
}
.footer-form input::placeholder{
font-size: 0.7rem;
color: rgb(226, 225, 225);
}


.footer-boxtwo table{
    border: none;
    box-shadow: none;
    color: rgb(211, 209, 209);
    margin-top:1rem ;
}
.footer-boxtwo table th {
    /* border: 1px solid red; */
    padding: 0.5rem;
    font-size: 0.9rem;
}
.footer-boxtwo table td {
    /* border: 1px solid red; */
    padding: 0.5rem;
    font-size: 0.7rem;
    font-weight: 200;
    /* text-align: end; */

    
}

.footerBox-ForThre-outer{
    width: 50%;
}
.footer-boxthree {
    /* border: 1px solid red; */
    /* padding-top:; */
}
.footer-boxthree h5{
    font-size: 1rem;
}
.footer-boxthree button{
    font-size: 0.8rem;
    border-radius: 4px;
    border: 1px solid rgb(233, 233, 233);
    background-color: transparent;
    color: rgb(233, 225, 225);
    padding: 0.3rem 0.8rem;

}

.footer-boxfour{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: rgb(211, 209, 209);
    margin-top: 1rem;
}

.footer-boxfour h5{
    font-size: 0.9rem;
   letter-spacing:1px ;
}
.footer-boxfour ul{
    display:flex;
    padding: 0;
    /* border: 1px solid red; */
}
.footer-boxfour ul i{
    padding: 0.5rem;
    font-size: 1rem;
    color: rgb(211, 209, 209);
}
.footer-boxfour ul li{
    padding: 0.5rem;
    font-size: 0.7rem;
    color: rgb(211, 209, 209);
}

.Copyright{
    width: 99vw;
    text-align: center;
    color: rgb(211, 209, 209);
    font-size: 0.7rem;
    padding: 1rem 0.5rem;
    border-top:1px solid rgb(223, 223, 223);
    background-color: rgb(23,23,23);
}

/* @media Query.............. */

@media (min-width:260px){
    footer{
        /* border: 1px solid rgb(30, 255, 0); */
        width: 100%;
        padding: 1rem 1rem;
    }
  
  .footer-boxOne{
            width: 100%;
            align-items: center;
            justify-content: center;
            /* border: 1px solid rgb(0, 195, 255); */
    }
    .footer-boxOne h4 {
        font-size: 1rem;
     }
     .footer-form{
        width:100%;
    }

    .footer-boxtwo table{
        margin-top:0.5rem ;
    }

    .footer-boxtwo table th {
        font-size: 0.7rem;
    }
    .footer-boxtwo table td {
       text-align: center;
    }

    .footerBox-ForThre-outer{
        width: 100%;
        margin-top: 0.5rem;
    }
    .footer-boxthree {
        /* border: 1px solid rgb(0, 255, 13); */
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-boxfour{
        width: 100%;
        /* border: 1px solid rgb(0, 255, 255); */
        align-items: center;
    }
    .Copyright{
        width:100%;
    }
}

@media (min-width:320px) {
    footer{
        /* border: 1px solid rgb(30, 255, 0); */
        width: 100%;
        padding: 1rem 1rem;
        align-items:center;
        justify-content: center;
    }
    .footer-boxOne{
        width: 100%;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(0, 195, 255); */
    }
    .footer-boxOne h4 {
        font-size: 1rem;

     }
     .footer-form{
        width:80%;
       
    }

    .footer-boxtwo table{
        margin-top:0.5rem ;
        /* border: 1px solid red; */
    }
    

    .footer-boxtwo table th {
        font-size: 0.7rem;
    }
    .footer-boxtwo table td {
        text-align: center;
    }
    .footer-boxOne{
        width: 100%;
       margin-top: 0.5rem;
       /* border: 1px solid red; */
    }
    
.footer-boxthree {
    /* border: 1px solid red; */
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-boxfour{
    /* border: 1px solid red; */
    align-items: center;
}
}

@media (min-width:450px) {
    footer{
        /* border: 1px solid rgb(30, 255, 0); */
        width: 100%;
        padding: 1rem 1rem;
        align-items:center;
        justify-content: center;
    }
    .footer-boxOne{
        width: 100%;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(0, 195, 255); */
    }
    .footer-boxOne h4 {
        font-size: 1.1rem;

     }
     .footer-form{
        width:70%;
       
    }

    .footer-boxtwo table{
        margin-top:0.5rem ;
        /* border: 1px solid red; */
    }
    

    .footer-boxtwo table th {
        font-size: 0.9rem;
    }
    .footer-boxtwo table td {
        text-align: center;
    }
    .footer-boxOne{
        width: 100%;
       margin-top: 0.5rem;
       /* border: 1px solid red; */
    }
    
.footer-boxthree {
    /* border: 1px solid red; */
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-boxfour{
    /* border: 1px solid red; */
    align-items: center;
}
}
@media (min-width:481px) {
    footer{
        /* border: 1px solid rgb(0, 60, 255); */
        width: 100%;
        padding: 1rem 1rem;
    }
}
@media (min-width:500px) {
    footer{
        /* border: 1px solid rgb(0, 60, 255); */
        width: 100%;
        padding: 1rem 1rem;
    }
    .footer-form{
        width:18rem;
       
    }
}
@media (min-width:769px) {
    footer{
        /* border: 1px solid rgb(30, 255, 0); */
        width: 100%;
        padding: 1rem 1rem;
        align-items:start;
        justify-content: space-evenly;
    }
    .footer-boxOne{
        width: 50%;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(168, 3, 245); */
        margin-top: 0;
    }
    .footer-boxOne h4 {
        font-size: 1rem;

     }
     .footer-form{
        width:16rem;
       
    }

    .footer-boxtwo table{
        margin-top:0.5rem ;
        /* border: 1px solid red; */
    }
    

    .footer-boxtwo table th {
        font-size: 0.7rem;
    }
    .footer-boxtwo table td {
        text-align: center;
    }
    .footerBox-ForThre-outer{
        width: 50%;
        margin-top: 0;
    }
    
.footer-boxthree {
    /* border: 1px solid red; */
    padding-top: 0rem;
}
.footer-boxfour{
    /* border: 1px solid red; */
    align-items: center;
}
}
@media (min-width:1025px) {
    footer{
        /* border: 1px solid rgb(0, 60, 255); */
        width: 100%;
        padding: 1rem 1rem;
    }
    .footer-boxOne h4 {
        font-size: 1.1rem;      
     }
     .footer-form{
         width: 18rem;
         /* border: 1px solid red; */ 
     }
     
     .footer-form input{
         font-size: 0.9rem;
         /* border: 1px solid red; */
     }
     .footer-form input::placeholder{
     font-size: 0.8rem;
     color: rgb(226, 225, 225);
     }
     
     .footer-boxtwo table th {
         /* border: 1px solid red; */
         font-size: 1rem;
     }
     .footer-boxtwo table td {
         /* border: 1px solid red; */
         font-size: 0.8rem;
     }

     .footer-boxthree h5{
         font-size: 1.1rem;
     }
     .footer-boxthree button{
         font-size: 0.9rem;

     }
     
     .footer-boxfour h5{
         font-size: 1rem;
     }
 
     .footer-boxfour ul i{
   
         font-size: 1.1rem;
      
     }
     .footer-boxfour ul li{

         font-size: 0.9rem;
 
     }
}
@media (min-width:1201px) {
    footer{
        /* border: 1px solid rgb(0, 60, 255); */
        width: 100%;
        padding: 1rem 1rem;
    }
}
@media (min-width:1500px) {
    footer{
        /* border: 1px solid rgb(0, 60, 255); */
        width: 99vw;
        padding: 1.5rem 1rem;
    }

    .Copyright{
        width: 99vw;}
}