*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "Playfair Display", serif;
}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); */

.videos-section {
  /* border: 1px solid red; */
  background-color: rgb(30, 44, 55);
  padding: 0.5rem;
  position: relative;
  height: 16rem;
  width: 99vw;
  /* overflow: hidden; */
}

.videos-section-main {
  /* border: 1px solid rgb(123, 255, 0); */
  padding: 0.5rem;
  width: 80%;
  margin-left: 10%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  position: absolute;
}

.videos-text-card {
  /* border: 1px solid rgb(123, 255, 0); */
  padding: 1rem;
  color: white;
  width: 20rem;
}

.videos-title {
  padding: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.videos-slider-box {
  height: 18rem;
  width: 41rem;
  /* border: 1px solid red; */
  position: relative;
  overflow: hidden;
}

.videos-slider {
  display: flex;
  /* border: 1px solid rgb(255, 0, 234); */
  position: absolute;
  top: 1rem;
  transition: 1s ease-in-out;
}

.Video-slides-cards.active {
  transform: translateX(0);
}

.Video-slides-cards {
  /* border: 1px solid greenyellow; */
  margin: 0rem 0.2rem;
  /* background-color: rgb(7, 116, 160); */
}
.Video-slides {
  width: 20rem;
  margin: 0.2rem;
}

.videos-text {
  padding: 0;
  font-size: 0.8rem;
  font-weight: 100;
  /* letter-spacing: 0.5px; */
}
.videos-btn-box {
  /* border: 1px solid red; */
  display: flex;
  width: 50%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-around;
}
.videos-btn {
  padding: 0.5rem 1rem;
  border-radius: 100%;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(196, 39, 39);
  /* margin: 0.2rem; */
}

.video-slide-text-box {
  padding: 1rem;
}
.video-slide-date {
  font-size: 0.6rem;
}
.video-slide-text {
  font-size: 0.7rem;
}

.play-btn {
  position: absolute;
  font-size: 2rem;
  color: white;
  margin-top: 4%;
  margin-left: -10%;
  /* z-index: 1; */
}


/* @media query  */
@media (min-width:260px){
  .videos-section {
    /* border: 1px solid red; */
    padding: 0.5rem;
    height: 26rem;
    width:100%;
  }
  
.videos-section-main {
  /* border: 1px solid rgb(0, 38, 255); */
  padding: 0.5rem 0.2rem;
  width: 96%;
  margin-left: 0;
  flex-direction: column;
  padding-bottom: 0;
  /* overflow: hidden; */
}

.videos-text-card {
  /* border: 1px solid rgb(0, 102, 255); */
  padding: 1rem 0.5rem;
  color: white;
  width: 100%;
}
.videos-slider-box {
  height: 18rem;
  width: 41rem;
}
.videos-slider {
  /* border: 1px solid rgb(255, 0, 234); */
  top: 0.2rem;

}
.Video-slides-cards {
  /* border: 1px solid greenyellow; */
  margin: 0rem 0.5rem 0rem 0rem ;
  /* background-color: rgb(7, 116, 160); */
}
.Video-slides {
  width: 16rem;
  margin: 0.0rem;
  /* border: 1px solid red; */
}
.videos-text {
  padding: 0;


}
.video-slide-text-box {
  padding: 0.2rem  0.5rem;
  /* border: 1px solid yellow; */
}
.video-slide-date {
  font-size: 0.6rem;
}
.video-slide-text {
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}
}
@media (min-width:320px){
  .videos-section {
    /* border: 1px solid red; */
    padding: 0.5rem;
    height: 26rem;
    width:100%;
  }
  
.videos-section-main {
  /* border: 1px solid rgb(0, 38, 255); */
  padding: 0.5rem 0.2rem;
  width: 96%;
  margin-left: 0;
  flex-direction: column;
  padding-bottom: 0;
  overflow: hidden;
}

.videos-text-card {
  /* border: 1px solid rgb(0, 102, 255); */
  padding: 1rem 0.5rem;
  color: white;
  width: 100%;
}
.videos-slider-box {
  height: 18rem;
  width: 41rem;
}
.videos-slider {
  /* border: 1px solid rgb(255, 0, 234); */
  top: 0.2rem;

}
.Video-slides-cards {
  /* border: 1px solid greenyellow; */

  margin: 0rem 0.5rem;
  /* background-color: rgb(7, 116, 160); */
}
.Video-slides {
  width: 18rem;
  margin: 0.1rem;
  /* border: 1px solid red; */
}
.videos-text {
  padding: 0;


}
.video-slide-text-box {
  padding: 0.2rem  0.5rem;
  /* border: 1px solid yellow; */
}
.video-slide-date {
  font-size: 0.6rem;
}
.video-slide-text {
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}
}
@media (min-width:450px){
  .videos-section {
    /* border: 1px solid red; */
    padding: 0.5rem;
    height: 26rem;
    width:100%;
  }
  
.videos-section-main {
  /* border: 1px solid rgb(0, 38, 255); */
  padding: 0.5rem 0.2rem;
  width: 96%;
  margin-left: 0;
  flex-direction: column;
  padding-bottom: 0;
  overflow: hidden;
}

.videos-text-card {
  /* border: 1px solid rgb(0, 102, 255); */
  padding: 1rem 0.5rem;
  color: white;
  width: 100%;
}
.videos-slider-box {
  height: 18rem;
  width: 41rem;
}
.videos-slider {
  /* border: 1px solid rgb(255, 0, 234); */
  top: 0.2rem;

}
.Video-slides-cards {
  /* border: 1px solid greenyellow; */

  margin: 0rem 0.5rem;
  /* background-color: rgb(7, 116, 160); */
}
.Video-slides {
  width: 20rem;
  margin: 0.1rem;
  /* border: 1px solid red; */
}
.videos-text {
  padding: 0.3rem 0.2rem;
  font-size: 0.9rem;


}
.video-slide-text-box {
  padding: 0.2rem  0.5rem;
  /* border: 1px solid yellow; */
}
.video-slide-date {
  font-size: 0.7rem;
}
.video-slide-text {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
}
@media (min-width:769px){
  .videos-section {
    /* border: 1px solid red; */
    padding: 0.5rem;
    height: 16rem;
    width:100%;
  }
  
.videos-section-main {
  padding: 0.5rem;
  width: 80%;
  margin-left: 10%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}

.videos-text-card {
  /* border: 1px solid rgb(0, 102, 255); */
  padding: 1rem 0.5rem;
  color: white;
  width: 100%;
}
.videos-slider-box {
  height: 18rem;
  width: 41rem;
}
.videos-slider {
  /* border: 1px solid rgb(255, 0, 234); */
  top: 1rem;

}
.Video-slides-cards {
  /* border: 1px solid greenyellow; */

  margin: 0rem 0.5rem;
  /* background-color: rgb(7, 116, 160); */
}
.Video-slides {
  width: 20rem;
  margin: 0.1rem;
  /* border: 1px solid red; */
}
.videos-text {
  padding: 0.3rem 0.2rem;
  font-size: 0.9rem;


}
.video-slide-text-box {
  padding: 0.2rem  0.5rem;
  /* border: 1px solid yellow; */
}
.video-slide-date {
  font-size: 0.7rem;
}
.video-slide-text {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
}
@media (min-width:1025px){
  .videos-section {
    /* border: 1px solid red; */
    padding: 0.5rem;
    height: 16rem;
    width:100%;
  }
  
.videos-section-main {
  padding: 0.5rem;
  width: 90%;
  margin-left:5%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}

.videos-text-card {
  /* border: 1px solid rgb(0, 102, 255); */
  padding: 1rem 0.5rem;
  color: white;
  width: 35%;
}
.videos-slider-box {
  height: 18rem;
  width:34rem;
  /* border: 1px solid rgb(0, 102, 255); */
}
.videos-slider {
  /* border: 1px solid rgb(255, 0, 234); */
  top: 1rem;
  /* width: 41rem; */

}
.Video-slides-cards {
  /* border: 1px solid greenyellow; */

  margin: 0rem 0.5rem;
  /* background-color: rgb(7, 116, 160); */
}
.Video-slides {
  width: 16rem;
  margin: 0.1rem;
  /* border: 1px solid red; */
}
.videos-text {
  padding: 0.3rem 0.2rem;
  font-size: 0.9rem;


}
.video-slide-text-box {
  padding: 0.2rem  0.5rem;
  /* border: 1px solid yellow; */
}
.video-slide-date {
  font-size: 0.7rem;
}
.video-slide-text {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
}
@media (min-width:1201px){
  .videos-section {
    /* border: 1px solid red; */
    padding: 0.5rem;
    height: 16rem;
    width:100%;
  }
  
.videos-section-main {
  padding: 0.5rem;
  width: 75%;
  margin-left:10%;
  color: white;
  display: flex;
  flex-direction:center;
  justify-content: space-around;
  /* border: 1px solid red; */
}

.videos-text-card {
  /* border: 1px solid rgb(0, 102, 255); */
  padding: 1rem 0.5rem;
  color: white;
  width: 35%;
}
.videos-slider-box {
  height: 18rem;
  width:34rem;
  /* border: 1px solid rgb(0, 102, 255); */
}
.videos-slider {
  /* border: 1px solid rgb(255, 0, 234); */
  top: 1rem;
  /* width: 41rem; */

}
.Video-slides-cards {
  /* border: 1px solid greenyellow; */

  margin: 0rem 0.5rem;
  /* background-color: rgb(7, 116, 160); */
}
.Video-slides {
  width: 18rem;
  margin: 0.1rem;
  /* border: 1px solid red; */
}
.videos-text {
  padding: 0.3rem 0.2rem;
  font-size: 0.9rem;


}
.video-slide-text-box {
  padding: 0.2rem  0.5rem;
  /* border: 1px solid yellow; */
}
.video-slide-date {
  font-size: 0.7rem;
}
.video-slide-text {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
}
@media (min-width:1500px){
  .videos-section {
    
    padding: 0.5rem;
    height: 16rem;
    width:99vw;
  }
  
.videos-section-main {
  padding: 0.5rem;
  width: 75%;
  margin-left:10%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  /* border: 1px solid red; */
}

.videos-text-card {
  /* border: 1px solid rgb(0, 102, 255); */
  padding: 1rem 0.5rem;
  color: white;
  width: 35%;
}
.videos-slider-box {
  height: 18rem;
  width:38rem;
  /* border: 1px solid rgb(0, 102, 255); */
}
.videos-slider {
  /* border: 1px solid rgb(255, 0, 234); */
  top: 1rem;
  /* width: 41rem; */

}
.Video-slides-cards {
  /* border: 1px solid greenyellow; */

  margin: 0rem 0.5rem;
  /* background-color: rgb(7, 116, 160); */
}
.Video-slides {
  width: 18rem;
  margin: 0.1rem;
  /* border: 1px solid red; */
}
.videos-text {
  padding: 0.3rem 0.2rem;
  font-size: 0.9rem;


}
.video-slide-text-box {
  padding: 0.2rem  0.5rem;
  /* border: 1px solid yellow; */
}
.video-slide-date {
  font-size: 0.7rem;
}
.video-slide-text {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
}